@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

/* common color in project  */
:root {
    --paragraph-color: #8987A1;
    --heading-text-color: #E95A08;
    --hover-text-color: #252432
}

/* Shared styles  */
.header-color {
    color: var(--heading-text-color);
}

.p-color {
    color: var(--paragraph-color);
}

.primary-btn {
    padding: 10px;
    width: 100%;
    color: white;
    background-color: #E95A08;
    font: bold;
}

/* discount card  */
.discount-card img{
    width: 100%;
}



/* Header styles  */
.link-container .link {
    list-style: none;
    color: var(--paragraph-color);
    margin-left: 20px;
}

.link-container .link a {
    text-decoration: none;
}

.link-container>li:hover {
    color: var(--hover-text-color);
}

/* Flower Container  */
.flower-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 30px;
    column-gap: 20px;
}

/* Flower and plants lover */

.flower-store{
width: 540px;

}
.flower-store img{
width: 540px;
}
.plats-content{
    width: 540px;
}
.plats-content h1{
    font-size: 50px;
    margin-bottom: 30px;
}

/* form style  */
.form input{

}











@media screen and (max-width: 640px) {
    .link-container {
        display: none;
    }

    .header-banner {
        flex-direction: column-reverse;
    }

    .header-part-one-content,
    .header-part-two-img {
        width: auto;
        margin-bottom: 40px;
    }

    .flower-card-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

   .plats-container{
    flex-direction: column;
   }
.flower-store{
width: auto;

}

.plats-content{
    width: auto;
}
.discount-card-container{
    grid-template-columns: 1fr;
}
.zabo-plant{
    height: 201px;
    margin: 20px 0px;
}
.form input{
    width: 180px;
}
.form h1{
    font-size: 20px;
}
}